@media screen and (max-width: 1199px) {
  // .cs_site_header_full_width .container {
  //   padding: 0 15px;
  // }

  .cs_main_header .container {
    max-width: 100%;
  }

  // .cs_site_header.cs_type_1 {
  //   .cs_nav_list {
  //     background-color: var(--heading-color);
  //     color: var(--white-color);
  //   }
  // }

  //   .cs_menu_dropdown_toggle {
  //     position: absolute;
  //     height: 40px;
  //     width: 100%;
  //     top: 0;
  //     left: 0px;
  //     display: flex;
  //     align-items: center;
  //     justify-content: flex-end;
  //     padding: 23px 18px;
  //     cursor: pointer;
  //     z-index: 3;

  //     span {
  //       display: block;
  //       position: relative;
  //       height: 10px;
  //       width: 10px;

  //       &:before,
  //       &:after {
  //         content: "";
  //         display: block;
  //         position: absolute;
  //         left: 50%;
  //         top: 50%;
  //         transform: translate(-50%, -50%);
  //         height: 2px;
  //         width: 10px;
  //         background-color: currentColor;
  //         transition: all 0.3s ease;
  //       }

  //       &:before {
  //         transform: translate(-50%, -50%) rotate(90deg);
  //       }
  //     }

  //     &.active {
  //       span {
  //         &:before {
  //           transform: translate(-50%, -50%) rotate(0deg);
  //         }
  //       }
  //     }
  //   }

  //   .menu-item-has-children {
  //     .menu-item-has-children {
  //       .cs_menu_dropdown_toggle {
  //         padding: 20px 18px;
  //       }
  //     }
  //   }
  // Possible Duplicate With 17

  .cs_site_branding {
    position: relative;
    z-index: 101;
  }

  .cs_nav {
    .cs_nav_list_wrap {
      position: fixed;
      width: 100vw;
      height: 100%;
      left: -100vw;
      background-color: var(--black-color);
      // background: linear-gradient(
      //   360deg,
      //   rgba(0, 0, 0, 1),
      //   rgba(0, 0, 0, 0)
      // );
      // backdrop-filter: blur(1px);
      color: var(--heading-color);
      top: 0px;
      // overflow: hidden;
      // min-height: 100vh;
      line-height: 1.6em;
      padding: 100px 0 10px;
      transition: all 0.4s ease;

      // from js
      &.cs_active {
        left: 0vw;
      }
    }
    .cs_nav_list {
      height: 100%;
      overflow-y: auto;

      ul {
        padding-left: 15px;
        display: none;
      }

      a {
        display: block;
        padding: 12px 15px;
        line-height: 16px;
      }

      > li {
        > a {
          font-size: 18px;
          line-height: 22px;
        }
      }
    }

    // .menu-item-has-children {
    //   position: relative;
    // }
  }

  // .cs_animo_links > li > a {
  //   .cs_animo_text {
  //     text-shadow: 0 32px 0 currentColor;
  //   }

  //   &:hover span {
  //     transform: translateY(-32px);
  //   }
  // }

  .cs_site_header.cs_style_1 {
    top: 0;
    .cs_nav {
      display: flex;
    }
    // no type
    &.cs_type_2 .cs_nav_list {
      background-color: var(--purple-color);
      color: var(--white-color);
    }
  }

  /*Mobile Menu Button*/
  //from js
  .cs_menu_toggle {
    display: inline-block;
    width: 30px;
    height: 27px;
    cursor: pointer;
    position: absolute;
    top: 27px;
    right: 30px;
    color: var(--heading-color);

    span,
    span:before,
    span:after {
      width: 100%;
      height: 2px;
      background-color: currentColor;
      display: block;
    }

    span {
      margin: 0 auto;
      position: relative;
      top: 12px;
      transition-duration: 0s;
      transition-delay: 0.2s;

      &:before {
        content: "";
        position: absolute;
        margin-top: -9px;
        transition-property: margin, transform;
        transition-duration: 0.2s;
        transition-delay: 0.2s, 0s;
      }

      &:after {
        content: "";
        position: absolute;
        margin-top: 9px;
        transition-property: margin, transform;
        transition-duration: 0.2s;
        transition-delay: 0.2s, 0s;
      }
    }
  }

  .cs_site_header.cs_style_1 .cs_menu_toggle {
    top: 50%;
    right: 0px;
    margin-top: -13px;
  }
  // Possible Duplicate With 156

  .cs_toggle_active {
    span {
      background-color: rgba(0, 0, 0, 0);
      transition-delay: 0.2s;

      &:before {
        margin-top: 0;
        transform: rotate(45deg);
        transition-delay: 0s, 0.2s;
      }

      &:after {
        margin-top: 0;
        transform: rotate(-45deg);
        transition-delay: 0s, 0.2s;
      }
    }
  }

  .cs_nav .cs_nav_list a {
    position: relative;
  }
  // Possible Duplicate with 104

  .cs_site_header.cs_style_1 .cs_main_header_in {
    height: 80px;
  }
  //   Possible Duplicate with 142

  // single page active state
  .cs_site_header .current-menu-item > a:before {
    display: none;
  }

  // .cs_site_header.cs_style_1 .cs_main_header_center {
  //   .cs_site_branding {
  //     position: absolute;
  //     left: 0px;
  //     top: 50%;
  //     transform: translateY(-50%);
  //   }
  // }
}
