/*--------------------------------------------------------------
>> TABLE OF CONTENTS:
----------------------------------------------------------------
1. Fonts
2. Variable
3. Typography
4. Preloader
5. Spacing
6. General
7. Slider
8. Video Modal
9. Header
10. Footer
11. Isotope
12. Hero
13. Iconbox
14. CTA
15. Testimonial
16. Team
17. Card
--------------------------------------------------------------*/

@import "default/fonts";
@import "default/variable";
@import "default/typography";
@import "common/preloader";
@import "common/spacing";
@import "common/general";
@import "common/slider";
@import "common/video-modal";
@import "common/header";
@import "common/footer";
@import "common/isotope";
@import "shortcode/hero";

@import "shortcode/cta";
@import "shortcode/testimonial";
@import "shortcode/team";
@import "shortcode/card";
@import "common/sidebar";
@import "shortcode/service";

@import "shortcode/contact";
@import "shortcode/post";

@import "shortcode/feature";
@import "shortcode/pricing";
@import "shortcode/video";
@import "shortcode/gradiant";
@import "shortcode/timetable";
