/*===============================================================
>> TABLE OF CONTENTS:
=================================================================
01 Google Fonts
02. All Variable
03. Typography
04. Preloader
05. Spacing
06. General
07. Slider
08. Video Modal
09. Header
10. Footer
11. Hero
12. Sidebar
13. CTA
14. Testimonial
15. Team
16. Card
17. Service
18. Contact
19. Blog Post
20. Feature
21. Pricing
22. Video
23. Gradiant
24. Timetable

===============================================================*/

@import "default/fonts";
@import "default/variable";
@import "default/typography";
@import "common/preloader";
@import "common/spacing";
@import "common/general";
@import "common/slider";
@import "common/video-modal";
@import "common/header";
@import "common/footer";
@import "shortcode/hero";
@import "common/sidebar";
@import "shortcode/cta";
@import "shortcode/testimonial";
@import "shortcode/team";
@import "shortcode/card";
@import "shortcode/service";
@import "shortcode/contact";
@import "shortcode/post";
@import "shortcode/feature";
@import "shortcode/pricing";
@import "shortcode/video";
@import "shortcode/gradiant";
@import "shortcode/timetable";
