/*--------------------------------------------------------------
** All Variable
----------------------------------------------------------------*/
:root {
  --heading-color: #fff;
  --body-color: rgba(255, 255, 255, 0.6);
  --gray-color: rgba(255, 255, 255, 0.04);
  --black-color: #222;
  --border-color: rgba(255, 255, 255, 0.1);
  --accent-color: #f2fd84;
  --heading-font: "Sora", sans-serif;
  --body-font: "Roboto", sans-serif;
}
