/*--------------------------------------------------------------
  8. Footer
----------------------------------------------------------------*/
// Footer Row
.cs_footer_row {
  display: flex;
  gap: 0px 60px;
  padding: 74px 0 45px;
  @media (max-width: 1199px) {
    gap: 30px 45px;
  }
  @media (max-width: 991px) {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 35px 24px;
    padding: 70px 0 50px;
  }
  @media (max-width: 380px) {
    flex-direction: column;
  }
  .cs_footer_col {
    flex: none;
    max-width: 150px;

    &:last-child {
      flex: 1;
      max-width: 451px;
      @media (max-width: 991px) {
        width: 100%;
        flex: none;
      }
    }
  }
}
// Footer Widget Title
.cs_footer_widget_title {
  font-size: 16px;
  margin-bottom: 18px;
  font-weight: 700;
  font-family: var(--body-font);
  line-height: 1.625em; //m
}
// Footer Widget Menu
.cs_footer_widget_menu {
  // color: var(--heading-color);
  // opacity: 0.6;
  a {
    line-height: 1.625em;
  }
  li {
    &:not(:last-child) {
      margin-bottom: 0px;
    }
  }
}
// Footer Widget Menu Hover Effect
.cs_footer_widget_menu a {
  background-repeat: no-repeat;
  background-image: linear-gradient(90deg, currentColor 0, currentColor 100%);
  transition: background-size 0.42s cubic-bezier(0.49, 0.49, 0.08, 1),
    color 0.27s ease-out;
  background-position: 100% calc(100% - 0px);
  background-size: 0 1px;
  &:hover {
    background-size: 100% 1px;
    background-position: 0 calc(100% - 0px);
  }
}
// Newsletter Heading
.cs_text_widget {
  display: flex;
  // align-items: center;
  // gap: 32px;
  @media (max-width: 575px) {
    flex-direction: column;
    align-items: flex-start;
  }
}
// Subscription Widget Top Spacing
.cs_footer_widget + .cs_footer_widget {
  margin-top: 10px;
}
// Newsletter Form
.cs_newsletter.cs_style_1 {
  // position: relative;
  display: flex;
  gap: 0px 14px;
  .cs_newsletter_input {
    // padding: 10px 80px 10px 24px;
    // background-color: var(--heading-color);
    border: none;
    outline: none;
    // display: block;
    // width: 100%;
    // opacity: 1;
    line-height: 1.625em;
    min-width: 276px;
    height: 48px;
    padding-left: 20px;
    @media (max-width: 1199px) {
      height: 70px;
      padding: 10px 70px 10px 20px;
    }
    &::placeholder {
      color: var(--black-color);
      opacity: 0.5;
    }

    &::-ms-input-placeholder {
      color: var(--heading-color);
      opacity: 0.5;
    }
  }
  .cs_newsletter_btn {
    width: 161px;
    background-color: var(--accent-color);
    color: var(--black-color);
    padding: 11px 32px;
    font-weight: 600;
    letter-spacing: 0.24px;
    border: none;
    outline: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1199px) {
      right: 11px;
      top: 11px;
    }
  }
}

// Social Buttons
.cs_social_btns {
  display: flex;
  margin-top: 34px;
  a {
    background: var(--heading-color);
    opacity: 0.5;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 2.66em;
    margin-right: 12px;
    color: var(--black-color);
    &:hover {
      background-color: var(--accent-color);
      opacity: 1;
      color: var(--black-color);
    }
  }
}
