/*===========================================================
  10. Footer
=============================================================*/
.cs_footer_style_1 {
  .cs_footer_row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
    padding: 74px 0 45px;
    .cs_footer_col {
      flex: none;
      max-width: 150px;
      &:last-child {
        flex: 1;
        max-width: 451px;
      }
    }
    .cs_footer_widget_title {
      font-size: 16px;
      margin-bottom: 18px;
      font-weight: 700;
      font-family: var(--body-font);
      line-height: 1.625em;
    }
    .cs_footer_widget_menu {
      li {
        &:not(:last-child) {
          margin-bottom: 0px;
        }
      }
      a {
        line-height: 1.625em;
        background-repeat: no-repeat;
        background-image: linear-gradient(
          90deg,
          currentColor 0,
          currentColor 100%
        );
        transition:
          background-size 0.42s cubic-bezier(0.49, 0.49, 0.08, 1),
          color 0.27s ease-out;
        background-position: 100% calc(100% - 0px);
        background-size: 0 1px;
        &:hover {
          background-size: 100% 1px;
          background-position: 0 calc(100% - 0px);
        }
      }
    }

    .cs_text_widget {
      display: flex;
    }
    .cs_footer_widget + .cs_footer_widget {
      margin-top: 10px;
    }

    .cs_social_btns {
      display: flex;
      margin-top: 34px;
      a {
        background: var(--heading-color);
        opacity: 0.5;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        line-height: 2.66em;
        margin-right: 12px;
        color: rgba(0, 0, 0, 1);
        &:hover {
          background-color: var(--accent-color);
          opacity: 1;
        }
      }
    }
  }
  /*==========================================
   Newsletter
  ============================================*/
  .cs_newsletter.cs_style_1 {
    display: flex;
    gap: 0px 14px;
    .cs_newsletter_input {
      border: none;
      outline: none;
      line-height: 1.625em;
      min-width: 276px;
      padding: 11px 20px;
      &::placeholder {
        color: var(--black-color);
        opacity: 0.5;
      }
    }
    .cs_newsletter_btn {
      width: 161px;
      background-color: var(--accent-color);
      color: var(--black-color);
      padding: 11px 32px;
      font-weight: 600;
      letter-spacing: 0.24px;
      outline: none;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--accent-color);
      &:hover {
        color: var(--heading-color);
        background: transparent;
        border: 1px solid var(--heading-color);
      }
    }
  }
  @media (max-width: 767px) {
    .cs_footer_row {
      flex-direction: column;
    }
  }
  @media (max-width: 475px) {
    .cs_newsletter.cs_style_1 {
      flex-direction: column;
      gap: 20px;
      .cs_newsletter_btn {
        width: 100%;
      }
    }
  }
}
