/*--------------------------------------------------------------
  4. General
----------------------------------------------------------------*/

@media (min-width: 1400px) {
  .container {
    max-width: 1264px;
  }
}

.cs_fs_16 {
  font-size: 16px;
  line-height: 1.5em;
}
.cs_fs_18 {
  font-size: 18px;
  line-height: 28px;
}
// .cs_fs_20 {
//   font-size: 20px;
//   line-height: 1.35em;
// }
.cs_fs_24 {
  font-size: 24px;
  line-height: 1.33em;
}
// .cs_fs_28 {
//   font-size: 28px;
//   line-height: 1.33em;
// }
// .cs_fs_32 {
//   font-size: 32px;
//   line-height: 1.31em;
// }
.cs_fs_42 {
  font-size: 42px;
  line-height: 1.34em;
}
.cs_fs_54 {
  font-size: 54px;
  line-height: 1.185em;
  @media (max-width: 1199px) {
    font-size: 48px;
  }
  @media (max-width: 767px) {
    font-size: 42px;
  }
  @media (max-width: 575px) {
    font-size: 34px;
  }
}
.cs_fs_72 {
  font-size: 72px;
  line-height: 1.139em;
  @media (max-width: 1199px) {
    font-size: 60px;
  }
  @media (max-width: 767px) {
    font-size: 50px;
  }
  @media (max-width: 575px) {
    font-size: 42px;
  }
}

.cs_light {
  font-weight: 300;
}

.cs_normal {
  font-weight: 400;
}

.cs_medium {
  font-weight: 500;
}

.cs_semibold {
  font-weight: 600;
}

.cs_bold {
  font-weight: 700;
}

// .cs_radius_3 {
//   border-radius: 3px;
// }

// .cs_radius_5 {
//   border-radius: 5px;
// }

// .cs_radius_7 {
//   border-radius: 7px;
// }

// .cs_radius_10 {
//   border-radius: 10px;
// }

// .cs_radius_15 {
//   border-radius: 15px;
// }

// .cs_radius_20 {
//   border-radius: 20px;
// }

.cs_mp_0 {
  list-style: none;
  margin: 0;
  padding: 0;
}

// .cs_opacity_1 {
//   opacity: 0.1;
// }

// .cs_opacity_2 {
//   opacity: 0.2;
// }

// .cs_opacity_3 {
//   opacity: 0.3;
// }

// .cs_opacity_4 {
//   opacity: 0.4;
// }

// .cs_opacity_5 {
//   opacity: 0.5;
// }

// .cs_opacity_6 {
//   opacity: 0.6;
// }

// .cs_opacity_7 {
//   opacity: 0.7;
// }

// .cs_opacity_7_5 {
//   opacity: 0.75;
// }

// .cs_opacity_8 {
//   opacity: 0.8;
// }

// .cs_opacity_9 {
//   opacity: 0.9;
// }

// .cs_gap_y_20 {
//   gap: 20px 0;
// }

.cs_gap_y_24 {
  gap: 24px 0;
}

.cs_gap_y_30 {
  gap: 30px 0;
}

// .cs_gap_y_35 {
//   gap: 35px 0;
// }

.cs_gap_y_40 {
  gap: 40px 0;
}

// .cs_gap_y_45 {
//   gap: 45px 0;
// }

.cs_gap_y_50 {
  gap: 50px 0;
}

// .cs_gap_y_60 {
//   gap: 60px 0;
// }

// .cs_gap_x_64 {
//   margin-left: -32px;
//   margin-right: -32px;
//   > * {
//     padding-left: 32px;
//     padding-right: 32px;
//   }
// }

hr {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 1px solid currentColor;
  opacity: 1;
}

.cs_bg_filed {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

// .cs_bg_fixed {
//   background-attachment: fixed;
//   @media (max-width: 1370px) {
//     background-attachment: initial;
//   }
// }

.cs_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cs_center_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cs_heading_color {
  color: var(--heading-color);
}

.cs_accent_color {
  color: var(--accent-color);
}

.cs_body_color {
  color: var(--body-color);
}
// .cs_gray_color {
//   color: var(--gray-color);
// }
// .cs_border_color {
//   color: var(--border-color);
// }

// .cs_heading_bg {
//   background-color: var(--heading-color);
// }

// .cs_secondary_bg {
//   background-color: var(--body-color);
// }

// .cs_gray_bg {
//   background-color: var(--gray-color);
// }

// Global Button Style
.cs_btn_style_1 {
  background-color: var(--accent-color);
  color: var(--black-color);
  padding: 11px 32px;
  font-weight: 600;
  letter-spacing: 0.24px;
  outline: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  border: 1px solid var(--accent-color);
  text-wrap: nowrap;
  &:hover {
    color: var(--heading-color);
    background-color: transparent;
    border: 1px solid var(--heading-color);
  }
}

// Global Text Stroke
.cs_text_strock {
  span {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--heading-color);
    color: transparent;
  }
}

// Section Heading for Global Usage
.cs_section_heading_style_2 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 30px;
  .cs_section_heading_column_1 {
    max-width: 855px;
  }
  @media (max-width: 991px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

// Globally Break Tag Remove
@media (max-width: 991px) {
  br {
    display: none;
  }
}

// Global Gradient Effect
.cs_radial_gradiant,
.cs_radial_gradiant_2,
.cs_radial_gradiant_3,
.cs_radial_gradiant_4 {
  height: 680px;
  width: 680px;
  position: absolute;
  z-index: 0;
  border-radius: 680px;
  opacity: 0.1;
  // border: 1px solid;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #f2fd84 0%,
    rgba(34, 34, 34, 0) 100%
  );
}
.cs_radial_gradiant_2 {
  width: 556px;
}

// Effect On About Page
.cs_about_section {
  // overflow: hidden;
  .cs_about_style_1 {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant {
    left: 67%;
    bottom: -6%;
  }
}
.cs_value_section {
  // overflow: hidden;
  .cs_section_heading_style_1,
  .cs_card_style_3 {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant {
    left: -15%;
    top: -52%;
  }
}
.cs_trainer_section {
  // overflow: hidden;
  .cs_section_heading_style_2,
  .cs_card_style_2 {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant {
    right: -118px;
    top: -308px;
  }
}
.cs_brands_section {
  // overflow: hidden;
  .cs_slider {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant {
    left: -171px;
    top: -391px;
  }
}

// Effect on Servie Page
.cs_service_card {
  .cs_card_style_4 {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant {
    right: -271px;
    top: -245px;
  }
}
.cs_cta_style_3 {
  .cs_cta_content {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant {
    opacity: 0.05;
    left: -100px;
    top: -365px;
  }
}

// Effect on Service Details Page
.cs_class_about_section {
  overflow: hidden;
  .cs_about_style_1 {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant_2 {
    right: -100px;
    top: -520px;
  }
}
.cs_benefits {
  .cs_section_heading_style_1,
  .cs_card_wrapper_1 {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant_2 {
    left: -100px;
    top: -530px;
  }
}
.cs_gallery {
  .cs_gallery_style_1 {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant_2 {
    right: 22px;
    bottom: -50px;
  }
}
.cs_classes_card {
  .cs_section_heading_style_2,
  .cs_card_style_4 {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant_2 {
    left: -43px;
    bottom: -115px;
  }
}

// Effects On Schedule Page
.cs_schedule_section {
  overflow: hidden;
  .cs_schedule_style_1,
  .cs_timeline_wrapper {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant {
    right: -391px;
    top: -325px;
  }
  .cs_radial_gradiant_3 {
    left: -400px;
    top: 284px;
  }
  .cs_radial_gradiant_4 {
    right: -272px;
    bottom: -301px;
  }
}

// Contact Page Design

// Info
.cs_contact_info {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 50px;
  li {
    position: relative;
    padding-left: 60px;
    &:hover {
      .cs_iconbox {
        background-color: var(--accent-color);
        color: var(--black-color);
      }
    }
  }
  .cs_iconbox {
    color: var(--heading-color);
    height: 42px;
    width: 42px;
    font-size: 20px;
    line-height: 1em;
    border: 1px solid var(--accent-color);
    transition: all 0.4s ease;
    position: absolute;
    left: 0;
    top: 6px;
  }
}

// Form
.cs_contact_form_1 {
  padding-left: 40px;
  @media (max-width: 991px) {
    padding-left: 0;
  }
}
.cs_form_field {
  display: block;
  width: 100%;
  border: 1px solid var(--body-color);
  outline: none;
  padding: 13px 20px;
  color: var(--body-color);
  background-color: var(--gray-color);
}

// Map
.cs_map {
  // height: 100%;
  height: 680px;
  filter: blur(0.5px);
  &:hover {
    filter: blur(0);
  }
  @media (max-width: 767px) {
    height: 580px;
  }
  @media (max-width: 575px) {
    height: 480px;
  }
  @media (max-width: 480px) {
    height: 380px;
  }
}
.cs_map iframe {
  height: 100%;
  width: 100%;
  border: none;
}
// End of Contact Page Design

// --------------- Blog Post
.cs_post.cs_style_1 .cs_post_thumb {
  display: block;
  overflow: hidden;
  position: relative;
  margin-bottom: 25px;
}

.cs_post.cs_style_1 .cs_post_thumb img {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.cs_post.cs_style_1 .cs_post_thumb::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.cs_post.cs_style_1 .cs_post_meta {
  margin-bottom: 10px;
}

.cs_post_meta.cs_style_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cs_post_meta.cs_style_1 > *:not(:last-child) {
  margin-right: 14px;
  padding-right: 14px;
}

.cs_post_meta.cs_style_1 > * {
  position: relative;
  display: inline-block;
}

.cs_post_meta.cs_style_1 > *:not(:last-child)::before {
  content: "";
  height: 20px;
  width: 1px;
  border-radius: 2px;
  background-color: var(--body-color);
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -10px;
}

.cs_post.cs_style_1 .cs_post_title {
  margin-bottom: 15px;
  font-size: 32px;
  line-height: 1.25em;
}

.cs_post.cs_style_1 .cs_post_title a {
  background-repeat: no-repeat;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, currentColor),
    to(currentColor)
  );
  background-image: linear-gradient(90deg, currentColor 0, currentColor 100%);
  -webkit-transition:
    background-size 0.42s cubic-bezier(0.49, 0.49, 0.08, 1),
    color 0.27s ease-out;
  transition:
    background-size 0.42s cubic-bezier(0.49, 0.49, 0.08, 1),
    color 0.27s ease-out;
  background-position: 100% calc(100% - 0px);
  background-size: 0 2px;
}

.cs_post.cs_style_1 .cs_post_sub_title {
  margin-bottom: 14px;
  line-height: 1.6em;
}

.cs_btn.cs_style_2 {
  position: relative;
}

.cs_btn.cs_style_2::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: currentColor;
  -webkit-transition: all 0.6s cubic-bezier(0.7, -0.56, 0.27, 1.6);
  transition: all 0.6s cubic-bezier(0.7, -0.56, 0.27, 1.6);
}

.cs_post_1_list .cs_post.cs_style_1:not(:first-child) {
  margin-top: 60px;
}

.cs_pagination_box {
  margin: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cs_pagination_item.active {
  background-color: var(--heading-color);
  color: #fff;
  pointer-events: none;
}
.cs_pagination_box .cs_pagination_item {
  margin: 5px;
}
.cs_pagination_item {
  height: 42px;
  width: 42px;
  border-radius: 7px;
  background-color: var(--gray-color);
}
// ------------- Sidebar
