/*--------------------------------------------------------------
  4. General
----------------------------------------------------------------*/

@media (min-width: 1400px) {
  .container {
    max-width: 1264px;
  }
}

.cs_fs_16 {
  font-size: 16px;
  line-height: 1.5em;
}
.cs_fs_18 {
  font-size: 18px;
  line-height: 28px;
}
.cs_fs_20 {
  font-size: 20px;
  line-height: 1.35em;
}
.cs_fs_24 {
  font-size: 24px;
  line-height: 1.33em;
}
.cs_fs_28 {
  font-size: 28px;
  line-height: 1.33em;
}
.cs_fs_32 {
  font-size: 32px;
  line-height: 1.31em;
}
.cs_fs_42 {
  font-size: 42px;
  line-height: 1.34em;
}
.cs_fs_54 {
  font-size: 54px;
  line-height: 1.185em;
  @media (max-width: 1199px) {
    font-size: 48px;
  }
  @media (max-width: 767px) {
    font-size: 42px;
  }
  @media (max-width: 575px) {
    font-size: 34px;
  }
}
.cs_fs_72 {
  font-size: 72px;
  line-height: 1.139em;
  @media (max-width: 1199px) {
    font-size: 60px;
  }
  @media (max-width: 767px) {
    font-size: 50px;
  }
  @media (max-width: 575px) {
    font-size: 42px;
  }
}

.cs_light {
  font-weight: 300;
}

.cs_normal {
  font-weight: 400;
}

.cs_medium {
  font-weight: 500;
}

.cs_semibold {
  font-weight: 600;
}

.cs_bold {
  font-weight: 700;
}

.cs_radius_3 {
  border-radius: 3px;
}

.cs_radius_5 {
  border-radius: 5px;
}

.cs_radius_7 {
  border-radius: 7px;
}

.cs_radius_10 {
  border-radius: 10px;
}

.cs_radius_15 {
  border-radius: 15px;
}

.cs_radius_20 {
  border-radius: 20px;
}

.cs_mp_0 {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cs_opacity_1 {
  opacity: 0.1;
}

.cs_opacity_2 {
  opacity: 0.2;
}

.cs_opacity_3 {
  opacity: 0.3;
}

.cs_opacity_4 {
  opacity: 0.4;
}

.cs_opacity_5 {
  opacity: 0.5;
}

.cs_opacity_6 {
  opacity: 0.6;
}

.cs_opacity_7 {
  opacity: 0.7;
}

.cs_opacity_7_5 {
  opacity: 0.75;
}

.cs_opacity_8 {
  opacity: 0.8;
}

.cs_opacity_9 {
  opacity: 0.9;
}

.cs_gap_y_20 {
  gap: 20px 0;
}

.cs_gap_y_24 {
  gap: 24px 0;
}

.cs_gap_y_30 {
  gap: 30px 0;
}

.cs_gap_y_35 {
  gap: 35px 0;
}

.cs_gap_y_40 {
  gap: 40px 0;
}

.cs_gap_y_45 {
  gap: 45px 0;
}

.cs_gap_y_50 {
  gap: 50px 0;
}

.cs_gap_y_60 {
  gap: 60px 0;
}

.cs_gap_x_64 {
  margin-left: -32px;
  margin-right: -32px;
  > * {
    padding-left: 32px;
    padding-right: 32px;
  }
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 1px solid currentColor;
  opacity: 1;
}

.cs_bg_filed {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cs_bg_fixed {
  background-attachment: fixed;
  @media (max-width: 1370px) {
    background-attachment: initial;
  }
}

.cs_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cs_center_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cs_heading_color {
  color: var(--heading-color);
}

.cs_accent_color {
  color: var(--accent-color);
}

.cs_body_color {
  color: var(--body-color);
}
.cs_gray_color {
  color: var(--gray-color);
}
.cs_border_color {
  color: var(--border-color);
}

.cs_heading_bg {
  background-color: var(--heading-color);
}

.cs_secondary_bg {
  background-color: var(--body-color);
}

.cs_gray_bg {
  background-color: var(--gray-color);
}

.cs_btn_style_1 {
  background-color: var(--accent-color);
  color: var(--black-color);
  padding: 11px 32px;
  font-weight: 600;
  letter-spacing: 0.24px;
  // border: none;
  outline: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  border: 1px solid var(--accent-color);
  text-wrap: nowrap;
  &:hover {
    color: var(--heading-color);
    background-color: transparent;
    border: 1px solid var(--heading-color);
  }
}

.cs_text_strock {
  span {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--heading-color);
    color: transparent;
  }
}
.cs_section_heading_style_2 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 30px;
  .cs_section_heading_column_1 {
    max-width: 855px;
  }
  // .cs_btn_style_1 {
  // flex: none;
  // }
  @media (max-width: 991px) {
    flex-direction: column;
    align-items: flex-start;
  }
}
//Break Tag Remove
@media (max-width: 991px) {
  br {
    display: none;
  }
}

// Gradient Effect
.cs_radial_gradiant,
.cs_radial_gradiant_2,
.cs_radial_gradiant_3,
.cs_radial_gradiant_4 {
  height: 680px;
  width: 680px;
  position: absolute;
  z-index: 0;
  border-radius: 680px;
  opacity: 0.1;
  // border: 1px solid;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #f2fd84 0%,
    rgba(34, 34, 34, 0) 100%
  );
}
.cs_radial_gradiant_2 {
  width: 556px;
}

// Effect On About Page
.cs_about_section {
  // overflow: hidden;
  .cs_about_style_1 {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant {
    left: 67%;
    bottom: -6%;
  }
}
.cs_value_section {
  // overflow: hidden;
  .cs_section_heading_style_1,
  .cs_card_style_3 {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant {
    left: -15%;
    top: -52%;
  }
}
.cs_trainer_section {
  // overflow: hidden;
  .cs_section_heading_style_2,
  .cs_card_style_2 {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant {
    right: -118px;
    top: -308px;
  }
}
.cs_brands_section {
  // overflow: hidden;
  .cs_slider {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant {
    left: -171px;
    top: -391px;
  }
}

// Effect on Servie Page
.cs_service_card {
  .cs_card_style_4 {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant {
    right: -271px;
    top: -245px;
  }
}
.cs_cta_style_3 {
  .cs_cta_content {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant {
    // opacity: 0.05;
    left: -100px;
    top: -365px;
  }
}
// Effect on Service Details Page
.cs_class_about_section {
  overflow: hidden;
  .cs_about_style_1 {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant_2 {
    right: -100px;
    top: -520px;
  }
}
.cs_benefits {
  // overflow: hidden;
  .cs_section_heading_style_1,
  .cs_card_wrapper_1 {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant_2 {
    left: -100px;
    top: -530px;
  }
}

.cs_gallery {
  // overflow: hidden;
  .cs_gallery_style_1 {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant_2 {
    right: 22px;
    bottom: -50px;
  }
}

.cs_classes_card {
  // overflow: hidden;
  .cs_section_heading_style_2,
  .cs_card_style_4 {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant_2 {
    left: -43px;
    bottom: -115px;
  }
}
// Effects On Schedule Page
.cs_schedule_section {
  overflow: hidden;
  .cs_schedule_style_1,
  .cs_timeline_wrapper {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant {
    right: -391px;
    top: -325px;
  }
  .cs_radial_gradiant_3 {
    left: -400px;
    top: 284px;
  }
  .cs_radial_gradiant_4 {
    right: -272px;
    bottom: -301px;
  }
}
