/*--------------------------------------------------------------
09. Header
----------------------------------------------------------------*/

// General Design For Header
.cs_site_header {
  z-index: 777;
  transition: all 0.4s ease;
}

.cs_site_header.cs_style_1 {
  .cs_main_header_in,
  .cs_top_header_in {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80px;
    position: relative;
  }

  .cs_main_header_right {
    display: flex;
    align-items: center;
    gap: 30px;
    z-index: 888;
    .cs_btn_style_1 {
      color: var(--heading-color);
      background: transparent;
      border: 1px solid var(--heading-color);
      &:hover {
        color: var(--black-color);
        background: var(--accent-color);
        border: 1px solid var(--accent-color);
      }
    }

    @media (max-width: 1199px) {
      margin-right: 50px;
    }

    @media (max-width: 480px) {
      display: none;
    }
  }
}

.cs_fixed_header,
.cs_sticky_header {
  position: fixed !important;
  width: 100%;
  z-index: 999;
}

.cs_nav ul {
  padding: 0;
  list-style: none;
}

// Sticky Header
.cs_gescout_sticky {
  position: fixed !important;
  top: -110px;
  opacity: 0;
  background-color: var(--black-color);
  box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.3);
  transition: all 0.4s ease;
}

.cs_gescout_show {
  top: 0 !important;
  opacity: 1;
  background-color: var(--black-color);
  box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.3);
}
// End of Sticky Header

// Responsive Design
@media screen and (min-width: 1200px) {
  .cs_site_branding {
    margin-right: 80px;
  }

  .cs_site_header.cs_style_1 {
    .cs_main_header_left {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .cs_nav {
    height: 100%;
    line-height: 1.6em;

    .cs_nav_list_wrap {
      height: 100%;
    }

    .cs_nav_list {
      display: flex !important;
      margin-bottom: 0;
      height: inherit;

      > li {
        margin-right: 50px;
        height: inherit;
        position: relative;

        &:last-child {
          margin-right: 0;
        }

        > a {
          display: inline-flex;
          height: inherit;
          align-items: center;

          &:hover {
            color: var(--heading-color);
          }
        }

        &:hover {
          > ul {
            top: 100%;
            opacity: 1;
            visibility: visible;
            transition: all 0.4s ease;
          }
        }

        &.menu-item-has-children {
          > a {
            position: relative;
            // Icon on Header Menu
            &::after {
              content: "";
              display: inline-block;
              height: 8px;
              width: 8px;
              border: 2px solid currentColor;
              transform: rotate(45deg);
              border-left: 0;
              border-top: 0;
              margin-left: 8px;
              position: relative;
              top: -1px;
              border-radius: 0px 0px 2px 0px;
            }
          }
        }
      }
      //Hide dropdown menu
      ul {
        width: 250px;
        background-color: var(--black-color);
        position: absolute;
        left: 0;
        top: calc(100% + 15px);
        box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.3);
        padding: 10px 0;
        opacity: 0;
        visibility: hidden;

        // Icon on Dropdown
        &::before {
          content: "";
          position: absolute;
          height: 10px;
          width: 10px;
          background-color: var(--black-color);
          transform: rotate(45deg);
          left: 20px;
          top: -5px;
        }

        a {
          display: block;
          line-height: inherit;
          padding: 10px 20px;

          &:hover {
            color: var(--heading-color);
          }
        }
      }
    }
  }

  .cs_menu_toggle,
  .cs_menu_dropdown_toggle {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .cs_main_header .container {
    max-width: 100%;
  }

  // Icon On Mobile Menu Dropdown List
  .cs_menu_dropdown_toggle {
    position: absolute;
    height: 40px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 23px 18px;
    cursor: pointer;
    z-index: 3;

    span {
      display: block;
      position: relative;
      height: 10px;
      width: 10px;

      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 2px;
        width: 10px;
        background-color: currentColor;
        transition: all 0.3s ease;
      }

      &:before {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }

    &.active {
      span {
        &:before {
          transform: translate(-50%, -50%) rotate(0deg);
        }
      }
    }
  }
  // End of Icon On Mobile Menu Dropdown List

  .cs_site_branding {
    position: relative;
    z-index: 101;
  }

  .cs_nav {
    .cs_nav_list_wrap {
      position: fixed;
      width: 100vw;
      height: 100%;
      left: -100vw;
      background-color: var(--black-color);
      color: var(--heading-color);
      top: 0px;
      line-height: 1.6em;
      padding: 100px 0 10px;
      transition: all 0.4s ease;

      &.cs_active {
        left: 0vw;
      }
    }
    .cs_nav_list {
      height: 100%;
      overflow-y: auto;
      margin-bottom: 0;

      ul {
        padding-left: 15px;
        display: none;
      }

      a {
        position: relative;
        display: block;
        padding: 12px 15px;
        line-height: 16px;
      }

      > li {
        > a {
          font-size: 18px;
          line-height: 22px;
        }
      }
    }

    .menu-item-has-children {
      position: relative;
    }
  }

  .cs_site_header.cs_style_1 {
    top: 0;

    .cs_main_header_in {
      height: 80px;
    }

    .cs_nav {
      display: flex;
    }
  }

  /*Mobile Menu Button*/

  .cs_menu_toggle {
    display: inline-block;
    width: 30px;
    height: 27px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: var(--heading-color);

    span,
    span:before,
    span:after {
      width: 100%;
      height: 2px;
      background-color: currentColor;
      display: block;
    }

    span {
      margin: 0 auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      transition-duration: 0s;
      transition-delay: 0.2s;

      &:before {
        content: "";
        position: absolute;
        margin-top: -9px;
        transition-property: margin, transform;
        transition-duration: 0.2s;
        transition-delay: 0.2s, 0s;
      }

      &:after {
        content: "";
        position: absolute;
        margin-top: 9px;
        transition-property: margin, transform;
        transition-duration: 0.2s;
        transition-delay: 0.2s, 0s;
      }
    }
  }

  .cs_toggle_active {
    span {
      background-color: rgba(0, 0, 0, 0);
      transition-delay: 0.2s;

      &:before {
        margin-top: 0;
        transform: rotate(45deg);
        transition-delay: 0s, 0.2s;
      }

      &:after {
        margin-top: 0;
        transform: rotate(-45deg);
        transition-delay: 0s, 0.2s;
      }
    }
  }
}
