/*--------------------------------------------------------------
09. Header
----------------------------------------------------------------*/
.cs_site_header {
  // position: relative;
  z-index: 777;
  transition: all 0.4s ease;
}

// .cs_site_header_full_width .container {
//   max-width: 100%;
//   padding: 0 100px;
// }

// .cs_site_branding {
//   display: inline-block;
//   max-width: 160px;
// }

.cs_site_header.cs_style_1 {
  &.cs_fixed_active {
    // no need fixed active
    background-color: #0d0c17;
    box-shadow: 0 10px 10px -10px rgba(33, 43, 53, 0.1);
  }
  .cs_main_header_in,
  .cs_top_header_in {
    // no need top header
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80px;
    position: relative;
    // background-color: red;
  }

  .cs_main_header_right {
    display: flex;
    align-items: center;
    gap: 30px;
    // height: 100%;
    // position: relative;
    z-index: 888;
    .cs_btn_style_1 {
      color: var(--heading-color);
      background: transparent;
      border: 1px solid var(--heading-color);
      &:hover {
        color: var(--black-color);
        background: var(--accent-color);
        border: 1px solid var(--accent-color);
      }
    }

    @media (max-width: 1199px) {
      margin-right: 50px;
    }

    @media (max-width: 480px) {
      display: none;
    }
  }
}

// no need fixed
.cs_fixed_header,
.cs_sticky_header {
  position: fixed !important;
  width: 100%;
  z-index: 999;
}
//ok

.cs_nav ul {
  // margin: 0;
  padding: 0;
  list-style: none;
}
//ok

// auto gen from js
.cs_gescout_sticky {
  position: fixed !important;
  top: -110px;
  opacity: 0;
  transition: all 0.4s ease;
}

.cs_gescout_show {
  top: 0 !important;
  opacity: 1;
  background-color: var(--black-color);
  box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.3);
  // // no need type 1
  &.cs_type_1 {
    background-color: var(--heading-color);
    box-shadow: 0px 1px 2px 0px rgb(147 147 147 / 10%);
  }
  // no need type 2
  &.cs_type_2 {
    background-color: var(--purple-color);
  }
  // if needed then use
  hr {
    display: none;
  }
}

// Responsive Design
@media screen and (min-width: 1200px) {
  .cs_main_header {
    // position: relative;

    // .container-fluid {
    //   padding-right: 40px;
    //   padding-left: 40px;
    // }
  }

  .cs_site_branding {
    // display: inline-block;
    // global
    margin-right: 80px;
    // + .cs_main_header_center {
    //   margin-left: 40px;
    // }
  }

  .cs_site_header.cs_style_1 {
    // .cs_main_header_center {
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   height: 100%;

    //   .cs_nav {
    //     + .cs_main_header_right {
    //       margin-left: 30px;
    //       padding-left: 20px;
    //       position: relative;

    //       &::before {
    //         content: "";
    //         width: 1px;
    //         height: 30px;
    //         background-color: var(--body-color);
    //         position: absolute;
    //         left: 0;
    //       }
    //     }
    //   }
    // }

    .cs_main_header_left {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    //ok

    // no type 1
    // &.cs_type_1 {
    //   .cs_nav_list a {
    //     &:hover {
    //       color: var(--accent-color);
    //     }

    //     &::before {
    //       background-color: var(--purple-color);
    //     }
    //   }
    // }

    // no
    // &.cs_type_2 {
    //   .cs_nav_list a {
    //     &:hover {
    //       color: var(--white-color);
    //     }
    //   }

    // .menu-item-has-children ul a:hover {
    //   color: var(--purple-color);
    // }
    // }
  }

  .cs_nav {
    // display: flex;
    // align-items: center;
    height: 100%;
    line-height: 1.6em;

    .cs_nav_list_wrap {
      height: 100%;
    }

    .cs_nav_list {
      display: flex !important;
      // flex-wrap: wrap;
      height: inherit;

      > li {
        margin-right: 50px;
        height: inherit;
        position: relative;

        &:last-child {
          margin-right: 0;
        }

        > a {
          // padding: 10px 0;
          display: inline-flex;
          // position: relative;
          height: inherit;
          align-items: center;

          // &::before {
          //   content: "";
          //   position: absolute;
          //   height: 2px;
          //   width: 0;
          //   background-color: var(--accent-color);
          //   left: 0;
          //   top: 61%;
          //   transition: all 0.3s ease;
          // }

          &:hover {
            color: var(--heading-color);

            // &::before {
            //   width: 100%;
            // }
          }
        }

        &:hover {
          > ul {
            // top: 100%;
            // opacity: 1;
            visibility: visible;
            // transition: all 0.4s ease;
          }
        }

        &.menu-item-has-children {
          > a {
            position: relative;
            // Icon on Dropdown
            &::after {
              content: "";
              display: inline-block;
              height: 6px;
              width: 6px;
              border: 2px solid currentColor;
              transform: rotate(45deg);
              border-left: 0;
              border-top: 0;
              margin-left: 6px;
              position: relative;
              top: -1px;
              border-radius: 0px 0px 2px 0px;
            }
          }
        }
      }
      //Hide dropdown menu
      ul {
        width: 260px;
        background-color: var(--black-color);
        position: absolute;
        left: 0;
        top: calc(100% + 15px);
        //   box-shadow: 0px 1px 2px 0px rgba(2, 0, 181, 0.1);
        // padding: 10px 0;
        //   z-index: 100;
        //   opacity: 0;
        visibility: hidden;
        //   display: block !important;
        //   border-radius: 5px;
        //   transition: all 0.1s ease;

        // upper icon for dropdown menu
        // &::before {
        //   content: "";
        //   position: absolute;
        //   height: 10px;
        //   width: 10px;
        //   background-color: var(--black-color);
        //   transform: rotate(45deg);
        //   left: 20px;
        //   top: -5px;
        //   border-radius: 2px 0 0 0;
        // }

        //   a {
        //     display: block;
        //     line-height: inherit;
        //     padding: 10px 20px;
        //     color: var(--heading-color);

        //     &:hover {
        //       color: var(--accent-color);
        //     }
        // }

        // Dropdown inside another Dropdown
        //   ul {
        //     top: 15px;
        //     left: 100%;
        //   }
      }
    }

    // Mega Menu
    // .cs_mega_menu {
    //   position: relative;
    // }
  }

  // from js
  .cs_menu_toggle,
  .cs_menu_dropdown_toggle {
    display: none;
  }
}
