/*===========================================================
  Preloader
=============================================================*/
.cs_preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--black-color);
  top: 0;
  left: 0;
  z-index: 10005;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  .cs_preloader_in {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    animation: rotateAnim 2s infinite ease;
  }
  span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid var(--accent-color);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: translateAnim 2s infinite ease;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    &:nth-child(1) {
      top: -25px;
      animation-name: translateAnimTop;
    }

    &:nth-child(2) {
      left: 25px;
      animation-name: translateAnimRight;
    }

    &:nth-child(3) {
      top: 25px;
      animation-name: translateAnimBottom;
    }

    &:nth-child(4) {
      left: -25px;
      animation-name: translateAnimLeft;
    }
  }
  .cs_preloader_text {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    color: var(--accent-color);
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

@keyframes rotateAnim {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes translateAnimTop {
  0% {
    transform: translateY(0px);
    background: var(--accent-color);
  }
  25% {
    transform: translateY(0px);
    background: var(--accent-color);
  }
  50% {
    transform: translateY(-20px);
    background: none;
  }
  75% {
    transform: translateY(-20px);
    background: none;
  }
  100% {
    transform: translateY(0px);
    background: var(--accent-color);
  }
}

@-webkit-keyframes translateAnimTop {
  0% {
    background: var(--accent-color);
  }
  25% {
    background: var(--accent-color);
  }
  50% {
    background: none;
  }
  75% {
    background: none;
  }
  100% {
    background: var(--accent-color);
  }
}

@keyframes translateAnimBottom {
  0% {
    transform: translateY(0px);
    background: var(--accent-color);
  }
  25% {
    transform: translateY(0px);
    background: var(--accent-color);
  }
  50% {
    transform: translateY(20px);
    background: none;
  }
  75% {
    transform: translateY(20px);
    background: none;
  }
  100% {
    transform: translateY(0px);
    background: var(--accent-color);
  }
}

@-webkit-keyframes translateAnimBottom {
  0% {
    background: var(--accent-color);
  }
  25% {
    background: var(--accent-color);
  }
  50% {
    background: none;
  }
  75% {
    background: none;
  }
  100% {
    background: var(--accent-color);
  }
}

@keyframes translateAnimLeft {
  0% {
    transform: translateX(0px);
    background: var(--accent-color);
  }
  25% {
    transform: translateX(0px);
    background: var(--accent-color);
  }
  50% {
    transform: translateX(-20px);
    background: none;
  }
  75% {
    transform: translateX(-20px);
    background: none;
  }
  100% {
    transform: translateX(0px);
    background: var(--accent-color);
  }
}

@-webkit-keyframes translateAnimLeft {
  0% {
    background: var(--accent-color);
  }
  25% {
    background: var(--accent-color);
  }
  50% {
    background: none;
  }
  75% {
    background: none;
  }
  100% {
    background: var(--accent-color);
  }
}

@keyframes translateAnimRight {
  0% {
    transform: translateX(0px);
    background: var(--accent-color);
  }
  25% {
    transform: translateX(0px);
    background: var(--accent-color);
  }
  50% {
    transform: translateX(20px);
    background: none;
  }
  75% {
    transform: translateX(20px);
    background: none;
  }
  100% {
    transform: translateX(0px);
    background: var(--accent-color);
  }
}

@-webkit-keyframes translateAnimRight {
  0% {
    background: var(--accent-color);
  }
  25% {
    background: var(--accent-color);
  }
  50% {
    background: none;
  }
  75% {
    background: none;
  }
  100% {
    background: var(--accent-color);
  }
}
