/*=======================================================
  12. Sidebar
=========================================================*/
.cs_right_sidebar {
  padding-left: 40px;
  @media (max-width: 991px) {
    padding-left: 0px;
    padding-top: 60px;
  }
}

.cs_sidebar_item {
  &:not(:last-child) {
    margin-bottom: 45px;
  }
}

.cs_sidebar_search input {
  display: block;
  width: 100%;
  background-color: transparent;
  outline: none;
  border: 1px solid var(--heading-color);
  padding: 9px 40px 9px 15px;
  transition: all 0.3sease;
  color: var(--heading-color);
  &:focus {
    border-color: var(--accent-color);
  }
}

.cs_sidebar_search_btn {
  position: absolute;
  border: none;
  outline: none;
  bottom: 0;
  right: 0;
  padding: 10px 14px;
  cursor: pointer;
  background-color: var(--accent-color);
  transition: all 0.3s ease;
  color: var(--black-color);
  &:hover {
    background-color: var(--gray-color);
    color: var(--accent-color);
  }
}

.cs_sidebar_widget_title {
  border-bottom: 1px solid var(--heading-color);
  padding-bottom: 10px;
}

.widget_categories,
.widget_archive {
  ul {
    li {
      padding-left: 30px;
      position: relative;
      i {
        position: absolute;
        left: 0;
        top: 5px;
      }
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}

.cs_recent_posts {
  li {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.cs_recent_post {
  display: flex;
  align-items: center;
  .cs_recent_post_thumb {
    height: 70px;
    width: 70px;
    flex: none;
    overflow: hidden;
    margin-right: 15px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:hover {
      .cs_recent_post_thumb_in {
        transform: scale(1.06);
      }
    }
  }

  .cs_recent_post_thumb_in {
    transition: all 0.4s ease;
  }
  .cs_recent_post_title a {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.tagcloud {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
}

.tag-cloud-link {
  border: 1px solid var(--body-color);
  padding: 5px 15px;
  display: inline-block;
  margin: 5px;
  color: var(--heading-color);
  &:hover {
    color: var(--black-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
  }
}
