/*--------------------------------------------------------------
  5. Slider
----------------------------------------------------------------*/
.cs_slider {
  position: relative;
}
.cs_full_screen_right {
  width: calc(60vw + 650px);

  // @media (max-width: 991px) {
  //   width: 100%;
  // }
}

// Draggable & Arrow Cursor For Slider
.slick-arrow {
  cursor: pointer;
}
.draggable {
  cursor: url(../img/drag.png) 16 9, ew-resize !important;
}

// Default For Backup (Not To Break Design)
.slick-slide > div {
  display: flex;
  flex-direction: column;
}

// For Slider Item Shadow / If not Used Shadow Will Be Hidden
// .cs_remove_overflow {
//   .slick-list {
//     overflow: visible;
//   }

//   .slick-slide {
//     opacity: 0;
//     visibility: hidden;
//     transition: all 0.3s linear;

//     &.slick-active {
//       opacity: 1;
//       visibility: visible;
//     }
//   }
// }

// Start of Slider Gap
.cs_slider_gap_24 {
  .slick-slide {
    padding-left: 12px;
    padding-right: 12px;
  }
  .slick-list {
    margin-left: -12px;
    margin-right: -12px;
  }
}

.cs_slider_gap_36 {
  .slick-slide {
    padding-left: 18px;
    padding-right: 18px;
  }
  .slick-list {
    margin-left: -18px;
    margin-right: -18px;
  }
}

.cs_slider_gap_100 {
  .slick-slide {
    padding-left: 50px;
    padding-right: 50px;
  }
  .slick-list {
    margin-left: -50px;
    margin-right: -50px;
  }
  @media (max-width: 991px) {
    .slick-slide {
      padding-left: 15px;
      padding-right: 15px;
    }
    .slick-list {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}
// End of Slider Gap

// .cs_slider_gap_104 {
//   .slick-slide {
//     padding-left: 52px;
//     padding-right: 52px;
//   }
//   .slick-list {
//     margin-left: -52px;
//     margin-right: -52px;
//   }
//   @media (max-width: 991px) {
//     .slick-slide {
//       padding-left: 15px;
//       padding-right: 15px;
//     }
//     .slick-list {
//       margin-left: -15px;
//       margin-right: -15px;
//     }
//   }
// }

// Homepage Slider Pagination
.cs_pagination.cs_style_1 {
  display: flex;
  justify-content: center;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex !important;
    gap: 12px;
  }

  li {
    display: flex;
    flex: 1;
    button {
      width: 40px;
      height: 6px;
      font-size: 0;
      color: transparent;
      padding: 0;
      background-color: rgb(255 255 255 / 20%);
      border-radius: 8px;
      border: none;
      outline: none;
      cursor: pointer;
      transition: all 0.3s ease;
    }
    &:hover button {
      background-color: var(--accent-color);
    }
    &.slick-active {
      button {
        background-color: var(--accent-color);
        width: 70px;
      }
    }
  }
}

// @media (max-width: 991px) {
//   .cs_hide_lg {
//     display: none;
//   }
// }

// .cs_show_lg {
//   display: none !important;
// }
// @media (max-width: 991px) {
//   .cs_hide_lg {
//     display: none !important;
//   }
// }

// @media (max-width: 991px) {
//   .cs_show_lg {
//     display: flex !important;
//   }
// }

// .cs_slider_indicator {
//   max-width: 875px;
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
//   gap: 30px;
// }

// Start of Timetble Page Arrow & List Item Custom Style
.cs_slider_arrows.cs_style_1 {
  .cs_left_arrow,
  .cs_right_arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 42px;
    width: 42px;
    border: 1px solid var(--accent-color);
    color: var(--heading-color);
    &:hover {
      background-color: var(--accent-color);
      color: var(--black-color);
    }
  }
  .cs_left_arrow {
    left: 0;
  }
  .cs_right_arrow {
    right: 0;
  }
}
.cs_schedule_style_1 {
  .cs_slider_wrapper {
    padding: 0px 77px;
  }
  .cs_btn_style_1 {
    height: 42px;
    background-color: transparent;
    color: var(--heading-color);
    border: 1px solid var(--heading-color);
    box-shadow: 0 4px 18px 0 rgba(242, 253, 132, 0.09);
    &:hover {
      border: 1px solid var(--accent-color);
      background-color: var(--accent-color);
      color: var(--black-color);
    }
  }
  .cs_tab_links li.active a {
    color: var(--black-color);
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}
// End of Timetble Page Arrow & List Item Custom Style
