/*======================================================
  07. Slider
========================================================*/
.cs_slider {
  position: relative;
}

.cs_full_screen_right {
  width: calc(60vw + 650px);
}

.slick-arrow {
  cursor: pointer;
}
.draggable {
  cursor:
    url(../img/drag.png) 16 9,
    ew-resize !important;
}

.slick-slide > div {
  display: flex;
  flex-direction: column;
}

.cs_slider_gap_24 {
  .slick-slide {
    padding-left: 12px;
    padding-right: 12px;
  }
  .slick-list {
    margin-left: -12px;
    margin-right: -12px;
  }
}

.cs_slider_gap_36 {
  .slick-slide {
    padding-left: 18px;
    padding-right: 18px;
  }
  .slick-list {
    margin-left: -18px;
    margin-right: -18px;
  }
}

.cs_slider_gap_100 {
  .slick-slide {
    padding-left: 50px;
    padding-right: 50px;
  }
  .slick-list {
    margin-left: -50px;
    margin-right: -50px;
  }
  @media (max-width: 991px) {
    .slick-slide {
      padding-left: 15px;
      padding-right: 15px;
    }
    .slick-list {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}

.cs_pagination.cs_style_1 {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 6;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex !important;
    gap: 12px;
  }
  li {
    display: flex;
    flex: 1;
    button {
      width: 40px;
      height: 6px;
      font-size: 0;
      color: transparent;
      padding: 0;
      background-color: rgb(255 255 255 / 20%);
      border-radius: 8px;
      border: none;
      outline: none;
      cursor: pointer;
      transition: all 0.3s ease;
    }
    &:hover button {
      background-color: var(--accent-color);
    }
    &.slick-active {
      button {
        background-color: var(--accent-color);
        width: 70px;
      }
    }
  }
}
