/*--------------------------------------------------------------
  15. Card
----------------------------------------------------------------*/
//Global Card Design
.cs_card_style_1,
.cs_card_style_2,
.cs_card_style_3 {
  border: 1px solid;
  border-image: linear-gradient(
      360deg,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0)
    )
    1;
  background: rgba(255, 255, 255, 0.04);
  transition: all 0.4s ease;

  .cs_card_thumbnail {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .cs_btn_style_1 {
    color: var(--heading-color);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: 1px solid var(--heading-color);
    padding: 10px 36px;
    visibility: hidden;
    opacity: 0;
  }
  &:hover .cs_btn_style_1 {
    visibility: visible;
    opacity: 1;
  }
  .cs_card_info {
    padding: 35px 20px;
    .cs_card_title {
      line-height: 1.416em;
      //Hover Effect With Accent Color
      background-repeat: no-repeat;
      background-image: linear-gradient(
        90deg,
        currentColor 0,
        currentColor 100%
      );
      transition: background-size 0.42s cubic-bezier(0.49, 0.49, 0.08, 1),
        color 0.27s ease-out;
      background-position: 100% calc(100% - 0px);
      background-size: 0 1px;
      &:hover {
        background-size: 100% 1px;
        background-position: 0 calc(100% - 0px);
      }
    }
    .cs_card_text {
      opacity: 0.6;
    }
  }
}
// Card 1 Custom Design
@media (max-width: 450px) {
  .cs_card_style_1 {
    min-height: 445px;
    width: 290px;
  }
}

//Card 2 Custom Design
.cs_card_style_2 {
  padding: 25px 25px 35px;
  border-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0)
    )
    1;
  .cs_btn_style_1 {
    color: var(--black-color);
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    left: 50%;
    top: 100%;
    transform: translate(-50%, -100%);
    visibility: visible;
    opacity: 1;
    &:hover {
      color: var(--heading-color);
      border: 1px solid var(--heading-color);
      background-color: transparent;
    }
  }
  .cs_card_info {
    padding: 27px 0 0;
  }
  &:hover {
    border-image: linear-gradient(
        45deg,
        rgba(242, 253, 132, 1),
        rgba(255, 255, 255, 0)
      )
      1;
  }
}

//Card 3 Custom Design
.cs_card_style_3 {
  height: 100%;
  border-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0)
    )
    1;
  .cs_card_info {
    padding: 0 30px 26px;
  }
  @media (max-width: 1199px) {
    .cs_card_title {
      word-wrap: break-word;
    }
  }
}
