/*=======================================================
  16. Card
=========================================================*/
.cs_card_style_1,
.cs_card_style_2,
.cs_card_style_3,
.cs_card_style_4 {
  background: var(--gray-color);
  transition: all 0.4s ease;
  .cs_card_thumbnail {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .cs_btn_style_1 {
    color: var(--heading-color);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: 1px solid var(--heading-color);
    padding: 10px 36px;
    visibility: hidden;
    opacity: 0;
  }
  &:hover .cs_btn_style_1 {
    visibility: visible;
    opacity: 1;
  }
  .cs_card_info {
    padding: 35px 20px;
    .cs_card_title a {
      color: var(--heading-color);
      line-height: 1.416em;
      background-repeat: no-repeat;
      background-image: linear-gradient(
        90deg,
        currentColor 0,
        currentColor 100%
      );
      transition:
        background-size 0.42s cubic-bezier(0.49, 0.49, 0.08, 1),
        color 0.27s ease-out;
      background-position: 100% calc(100% - 0px);
      background-size: 0 1px;
      &:hover {
        background-size: 100% 1px;
        background-position: 0 calc(100% - 0px);
      }
    }
    .cs_card_text {
      opacity: 0.6;
    }
  }
}
.cs_card_style_1 {
  .cs_btn_style_1 {
    transform: translate(-50%, -50%) scale(1.6);
    transition: all 0.4s ease;
    &:hover {
      color: var(--black-color);
      border-color: var(--accent-color);
      background-color: var(--accent-color);
    }
  }
  &:hover {
    .cs_btn_style_1 {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  @media (max-width: 450px) {
    min-height: 445px;
    width: 290px;
  }
}

.cs_card_style_2 {
  height: 100%;
  padding: 25px 25px 30px;
  border: 1px solid;
  border-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0)
    )
    1;
  transition: all 0.4s ease;
  .cs_btn_style_1 {
    color: var(--black-color);
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    top: 100%;
    transform: translate(-50%, -100%);
    visibility: visible;
    opacity: 1;
    &:hover {
      color: var(--heading-color);
      border: 1px solid var(--heading-color);
      background-color: transparent;
    }
  }
  .cs_card_info {
    padding: 27px 0 0;
  }
  &:hover {
    border-image: linear-gradient(
        45deg,
        rgba(242, 253, 132, 1),
        rgba(255, 255, 255, 0)
      )
      1;
    transform: translateY(-7px);
    .cs_btn_style_1 {
      top: 95%;
    }
  }
}

.cs_card_style_3 {
  height: 100%;
  border: 1px solid;
  border-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0)
    )
    1;
  .cs_card_info {
    padding: 0 30px 23px;
  }
  .cs_card_text {
    line-height: 1.625em;
  }
  &.animationonhover {
    &::after {
      background: #2d2d2d;
    }
  }
  @media (max-width: 1199px) {
    .cs_card_title {
      word-wrap: break-word;
    }
  }
}

.cs_card_style_4 {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-image: linear-gradient(
      360deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    )
    1;

  .cs_badge {
    top: 0;
    right: 0;
    padding: 7px 18px;
    letter-spacing: 1.76px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(9px);
  }
  .cs_btn_style_1 {
    color: var(--black-color);
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    &:hover {
      color: var(--heading-color);
      border: 1px solid var(--heading-color);
      background-color: transparent;
    }
  }
  .cs_card_info {
    flex: 1;
    border: 1px solid;
    padding: 33px 20px 31px;
    border-image: linear-gradient(
        360deg,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0)
      )
      1;
  }
  &:hover {
    border: 1px solid;
    border-image: linear-gradient(
        360deg,
        rgba(242, 253, 132, 1),
        rgba(255, 255, 255, 0)
      )
      1;
  }
}

/*===============================================
 Card Wrapper
 ================================================*/
.cs_programs_section {
  .cs_card_style_1 {
    display: flex;
    flex-direction: column;
    .cs_card_info {
      flex: 1;
      justify-content: start;
      border: 1px solid;
      border-image: linear-gradient(
          360deg,
          rgba(255, 255, 255, 0.3),
          rgba(255, 255, 255, 0)
        )
        1;
    }
  }
}
