/*--------------------------------------------------------------
  12. CTA
----------------------------------------------------------------*/
.cs_cta_style_1 {
  // min-height: 550px;
  .cs_cta_content {
    // max-width: 50%;
    width: min(100%, 656px);
  }
}

.cs_cta_style_2 {
  .cs_cta_content {
    width: min(100%, 596px);
    h2 {
      margin-bottom: 65px;
    }
    @media (max-width: 991px) {
      width: 100%;
      h2 {
        margin-bottom: 40px;
      }
    }
  }
}
