/*--------------------------------------------------------------
  12. CTA
----------------------------------------------------------------*/
.cs_cta_style_1 {
  // min-height: 550px;
  .cs_cta_content {
    // max-width: 50%;
    width: min(100%, 656px);
  }
}

.cs_cta_style_2,
.cs_cta_style_3 {
  .cs_cta_content {
    width: min(100%, 596px);
    h2 {
      margin-bottom: 65px;
    }
    @media (max-width: 991px) {
      width: 100%;
      h2 {
        margin-bottom: 40px;
      }
    }
  }
}

.cs_cta_style_3 {
  .cs_cta_content {
    width: min(100%, 840px);
    h2 {
      margin-bottom: 85px;
      @media (max-width: 991px) {
        margin-bottom: 50px;
      }
    }
  }
}

.cs_cta_style_4 {
  .cs_cta_title {
    width: min(100%, 810px);
  }
}
