/*========================================================
  13. CTA
==========================================================*/
.cs_cta_style_1,
.cs_cta_style_5 {
  .cs_cta_content {
    width: min(100%, 656px);
    p {
      width: min(100%, 305px);
    }
  }
}

.cs_cta_style_2 {
  .cs_cta_content {
    width: min(100%, 596px);
    @media (max-width: 991px) {
      width: 100%;
    }
  }
}

.cs_cta_style_3 {
  .cs_cta_content {
    width: min(100%, 840px);
    h2 {
      margin-bottom: 85px;
      @media (max-width: 991px) {
        margin-bottom: 50px;
      }
    }
  }
}

.cs_cta_style_4 {
  .cs_cta_content {
    @media (max-width: 991px) {
      flex-direction: column;
      align-items: start !important;
    }
  }
  .cs_cta_title {
    width: min(100%, 810px);
    @media (max-width: 991px) {
      margin-bottom: 40px !important;
    }
  }
}
