/*--------------------------------------------------------------
  12. CTA
----------------------------------------------------------------*/
.cs_banner_style_1{
  min-height: 550px;
}
.cs_banner_style_1_content{
  max-width: 50%;
  h2{
    color: var(--heading-color);
    font-family: Sora;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
  }
  span{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--heading-color);
    color: transparent;
  }
  p{
    color: var(--heading-color);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }
}

.cs_banner_style_1_button{
  background-color: var(--accent-color);
  color: var(--black-color);
  padding: 18px 32px;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.24px;
  border: none;
}