/*======================================================
 23. Gradiant
========================================================*/
.cs_radial_gradiant,
.cs_radial_gradiant_2,
.cs_radial_gradiant_3,
.cs_radial_gradiant_4 {
  height: 680px;
  width: 680px;
  position: absolute;
  z-index: 0;
  border-radius: 680px;
  opacity: 0.1;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #f2fd84 0%,
    rgba(34, 34, 34, 0) 100%
  );
}
.cs_radial_gradiant_2 {
  width: 556px;
}

.cs_programs_section {
  .cs_section_heading_style_1 {
    position: relative;
    z-index: 1;
  }
  .cs_card_style_1 {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant {
    left: -300px;
    top: -50px;
  }
}
.cs_testimonial_section {
  .cs_section_heading_style_2 {
    position: relative;
    z-index: 1;
  }
  .cs_testimonial_card {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant {
    right: -350px;
    top: -200px;
  }
}
.cs_pricing_section {
  .cs_section_heading_style_1 {
    position: relative;
    z-index: 1;
  }
  .cs_pricing_card {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant {
    left: -200px;
    top: -170px;
  }
}
.cs_feature_section {
  .cs_section_heading_style_1 {
    position: relative;
    z-index: 1;
  }
  .cs_feature_widget_img,
  .cs_feature_list {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant {
    right: -150px;
    top: -270px;
  }
}

.cs_about_section {
  .cs_about_style_1 {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant {
    left: 67%;
    bottom: -6%;
  }
}
.cs_value_section {
  .cs_section_heading_style_1,
  .cs_card_style_3 {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant {
    left: -15%;
    top: -52%;
  }
}
.cs_trainer_section {
  .cs_section_heading_style_2,
  .cs_card_style_2 {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant {
    right: -118px;
    top: -308px;
  }
}
.cs_brands_section {
  .cs_slider {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant {
    left: -171px;
    top: -391px;
  }
}

.cs_service_card {
  .cs_card_style_4 {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant {
    right: -271px;
    top: -245px;
  }
}
.cs_cta_style_3 {
  .cs_cta_content {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant {
    opacity: 0.05;
    left: -100px;
    top: -365px;
  }
}

.cs_class_about_section {
  overflow: hidden;
  .cs_about_style_1 {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant_2 {
    right: -100px;
    top: -520px;
  }
}
.cs_benefits {
  .cs_section_heading_style_1,
  .cs_card_wrapper_1 {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant_2 {
    left: -100px;
    top: -530px;
  }
}
.cs_gallery {
  .cs_gallery_style_1 {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant_2 {
    right: 22px;
    bottom: -50px;
  }
}
.cs_classes_card {
  .cs_section_heading_style_2,
  .cs_card_style_4 {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant_2 {
    left: -43px;
    bottom: -115px;
  }
}

.cs_schedule_section {
  overflow: hidden;
  .cs_schedule_style_1,
  .cs_timeline_wrapper {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant {
    right: -391px;
    top: -325px;
  }
  .cs_radial_gradiant_3 {
    left: -400px;
    top: 284px;
  }
  .cs_radial_gradiant_4 {
    right: -272px;
    bottom: -301px;
  }
}

.cs_contact_style_1 {
  .row {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant {
    left: -300px;
    top: -138px;
  }
}

.cs_blog_section,
.cs_blog_details {
  .row {
    position: relative;
    z-index: 1;
  }
  .cs_radial_gradiant {
    right: -400px;
    top: -300px;
  }
  .cs_radial_gradiant_3 {
    left: -300px;
    top: 300px;
  }
  .cs_radial_gradiant_4 {
    right: 150px;
    top: 1200px;
  }
}
