/*--------------------------------------------------------------
Homepage Pricing Card Design
----------------------------------------------------------------*/
.cs_pricing_card {
  padding: 55px 40px 60px 40px;
  height: 100%;
  border: 1px solid;
  border-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0)
    )
    1;
  background: rgba(255, 255, 255, 0.04);
  .cs_pricing_card_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .cs_pricing_head {
    text-align: center;
  }
  .cs_pricing_plan {
    line-height: 1.625em;
  }
  .cs_price_value {
    color: var(--accent-color);
    font-weight: 600;
  }
  .cs_pricing_head_subtitle {
    background: rgba(255, 255, 255, 0.06);
    margin-left: -40px;
    margin-right: -40px;
    padding: 10px 0px;
    letter-spacing: 1.6px;
  }

  .cs_pricing_list {
    li {
      margin-bottom: 12px;
      position: relative;
      padding-left: 36px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  .cs_pricing_icon {
    color: var(--accent-color);
    font-size: 16px;
    line-height: 1em;
    position: absolute;
    top: 7px;
    left: 0px;
  }

  .cs_btn_style_1 {
    width: 100%;
    margin-top: auto;
  }

  @media (max-width: 1399px) {
    padding: 40px 20px;
    .cs_pricing_head_subtitle {
      // margin: 0 -20px;
      margin-left: -20px;
      margin-right: -20px;
    }
  }
}
