/*--------------------------------------------------------------

----------------------------------------------------------------*/

.cs_timeline_wrapper {
  overflow-x: auto;
}

.cs_days_row {
  min-width: 1240px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin-bottom: 10px;
  gap: 10px;
}

// .cs_days_row
.cs_day_col {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px 10px;
  letter-spacing: 0.24px;
  background-color: rgba(242, 253, 132, 0.1);
  width: 140px;
  &:first-child {
    width: 190px;
  }
}

.cs_content_row {
  min-width: 1240px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin-bottom: 10px;
  gap: 10px;
}

// .cs_content_row
.cs_content_col {
  padding: 30px 12px 22px;
  transition: all 0.4s ease;
  text-align: center;
  width: 140px;
  &:first-child {
    width: 190px;
    border: none;
  }
  &:has(*) {
    background-color: rgba(255, 255, 255, 0.02);
    border: 1px solid;
    border-image: linear-gradient(
        225deg,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0)
      )
      1;
    visibility: visible;
    &:hover {
      border: 1px solid var(--accent-color);
      background-color: var(--accent-color);
      &:first-child {
        background-color: rgba(255, 255, 255, 0.02);
        border: none;
      }
    }
  }
}

// .cs_content_row
.cs_content_col:hover .cs_schedule_icon,
.cs_content_col:hover .cs_schedule_title,
.cs_content_col:hover .cs_schedule_time {
  color: var(--black-color);
}

// .cs_content_row
.cs_content_col:hover .cs_trainer_title {
  color: var(--black-color);
  opacity: 0.6;
}
// .cs_content_row
.cs_time {
  font-size: 12px;
  line-height: 1.833em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

//Icon
// .cs_content_row
.cs_schedule_icon {
  height: 17px;
  width: 27px;
}

// content of column
// .cs_content_row
.cs_schedule_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

// .cs_content_row .cs_schedule_wrapper
.cs_schedule_title {
  line-height: 1.625em;
  margin-bottom: 2px;
}

// .cs_content_row .cs_schedule_wrapper
.cs_schedule_time {
  font-size: 12px;
  line-height: 1.833em;
  margin-bottom: 3px;
}

// .cs_content_row .cs_schedule_wrapper
.cs_trainer_title {
  font-size: 12px;
  line-height: 1.833em;
  margin-bottom: 0;
}
