/*--------------------------------------------------------------
  14. Team
----------------------------------------------------------------*/

//About Page About Section
.cs_about_style_1 {
  gap: 30px;
  .cs_about_image {
    // height: 100%;
    width: 42%;
    gap: 0px 20px;
  }
  .cs_about_img_1 {
    width: 40%;
  }
  .cs_about_img_2 {
    width: 60%;
  }
  .cs_section_heading_style_1 {
    width: 51%;
    flex-direction: column;
    h2 {
      margin-bottom: 60px;
    }
    @media (max-width: 1199px) {
      width: 55%;
    }
  }
  @media (max-width: 991px) {
    flex-direction: column;
    .cs_about_image {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .cs_section_heading_style_1 {
      width: 100%;
    }
  }
}
.cs_radial_gradiant {
  height: 680px;
  width: 680px;
  // background-color: beige;
  border-radius: 680px;
  opacity: 1;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #f2fd84 0%,
    rgba(34, 34, 34, 0) 100%
  );
  top: 388px;
  left: 940px;
  position: absolute;
}
