/*--------------------------------------------------------------
  14. Team
----------------------------------------------------------------*/

//About Page About Section
.cs_about_style_1 {
  gap: 30px;
  position: relative;
  z-index: 1;
  .cs_about_image {
    // height: 100%;
    width: 42%;
    gap: 0px 20px;
  }
  .cs_about_img_1 {
    width: 40%;
  }
  .cs_about_img_2 {
    width: 60%;
  }
  .cs_section_heading_style_1 {
    width: 51%;
    flex-direction: column;
    h2 {
      margin-bottom: 60px;
    }
    @media (max-width: 1399px) {
      width: 55%;
    }
    @media (max-width: 1199px) {
      h2 {
        margin-bottom: 25px;
      }
    }
  }
  @media (max-width: 991px) {
    flex-direction: column;
    .cs_about_image {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .cs_section_heading_style_1 {
      width: 100%;
    }
  }
}
