/*--------------------------------------------------------------
  13. Testimonial
----------------------------------------------------------------*/
// .cs_testimonial_section .cs_section_heading_style_2 {
//   gap: 100px;
//   .cs_section_heading_column_2 .cs_btn_style_1 {
//     width: 165px;
//     right: 0;
//     bottom: 12px;
//   }
// }
.cs_testimonial_card {
  height: 100%;
  border: 1px solid rgb(255 255 255 / 10%);
  background: rgba(255, 255, 255, 0.04);
  .cs_testimonial_image {
    width: 37%;
    flex: none;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .cs_testimonial_content {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .cs_testimonial_rating {
      color: var(--accent-color);
      font-size: 16px;
      line-height: 1em;
    }
    .cs_testimonial_user {
      font-weight: 700;
    }
  }
  @media (max-width: 1199px) {
    .cs_testimonial_content {
      padding: 20px;
    }
  }
}
