// .cs_value_heading {
//   .cs_value_tagline {
//     max-width: 500px;
//   }
// }
// .cs_value_card_style_1 {
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   gap: 24px;
//   padding-bottom: 30px;
//   border-bottom: 1px solid var(--border-color);
//   .cs_value_text {
//     margin-top: auto;
//   }
// }
