.cs_video_style_1 {
  min-height: 600px;
  a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .cs_section_heading_style_1 {
    position: absolute;
    top: 100%;
    left: 0%;
    transform: translate(0%, -100%);
    background: rgba(255, 255, 255, 0.2);
    padding: 37px 50px 36px 40px;
    border: 1px solid;
    border-image: linear-gradient(
        270deg,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0)
      )
      1;
  }
}
